@font-face {
  font-family: 'Tulpen One';
  font-style: normal;
  font-weight: 400;
  src: local('Tulpen One'), local('TulpenOne-Regular'), url('../fonts/TulpenOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Marvel';
  font-style: italic;
  font-weight: 400;
  src: local('Marvel Italic'), local('Marvel-Italic'), url('../fonts/Marvel-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
