
/* Classes */

.unselectable 				{ -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; }
.center 					{ text-align: center; } 
.default-pointer:hover		{ cursor: default; }

/* Style header */

header {
	position: absolute;
	display: inline-block;
	top: 0px;
	margin: 0 auto;
	width: 100%;
}

#title-container
{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 30%;
	min-width: 400px;
	height: 72px;

	/* Border */

	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top: 0px;

	/* Gradient Background */

	background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

	/* Shadow */

	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

#app-title
{
	position: relative;
	top: 30%;
	text-align: center;

	font-family: 'Vollkorn', arial, serif;
	font-size: 24px;
	color: rgb(25, 25, 25);
}

/* Style footer */

footer
{
	position: absolute;
	display: inline-block;
	bottom: 0px;
	width: 100%;
}

#copy-container
{
	position: relative;
	display: block;
	margin: 0 auto;
	width: auto;
}

#copy-text
{
	position: relative;
	top: 0px;
	text-align: center;

	font-family: 'Marvel', consolas, monospace, serif;
	font-style: italic;
	font-size: 16px;
	color: rgb(125, 125, 125);
}

/* Style content */

#content-wrapper
{
	position: absolute;
	top: 120px;
	display: block;
	width: 100%;
	height: auto;
}

#content
{
	position:relative;
	min-width: 980px;
	width: 60%;
	margin: 0 auto;
}

/* Style loading progress */

#progress
{
	margin: 0 auto;
	height: 92px;
}

#progress-img
{
	background-image: url('../img/loading.gif');
	width: 32px;
	height: 32px;
	margin: 0 auto;
}

#progress-status
{
	font-family: 'Tulpen One', monospace, consolas, serif;
	font-size: 32px;
	position: relative;
	top: 2px;
	text-align: center;
}

/* Style app */

/* + Canvas */
#canvas-container {
	float: left;
	/* Border */

	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;

	/* Shadow */

	-moz-box-shadow: 0 0 4px #bbb;
	-webkit-box-shadow: 0 0 4px #bbb;
	box-shadow: 0 0 4px #bbb;
}

/* + Sidetab */

#sidetab-container {
	float: right;

	/* Border */

	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;

	/* Shadow */

	-moz-box-shadow: 0 0 4px #bbb;
	-webkit-box-shadow: 0 0 4px #bbb;
	box-shadow: 0 0 4px #bbb;
}

#sidetab-container h1, #canvas-container h1 a, #canvas-container h1 {
	font-family: 'Tulpen One', monospace, consolas, serif;
	font-weight: 400;
	font-size: 32px;
	position: relative;
	text-align: center;

	margin: 0;
}

#sidetab-container hr, #canvas-container hr {
	margin: 0;
	margin-left: 3px;
	margin-right: 3px;
}

#sidetab-content {
	position: relative;
	top: 15px;
	margin-left: 5px;
	margin-right: 5px;
	overflow-y: auto;
}

#sidetab-progress {
	position: absolute;
	top: 0px;
	background-image: url('../img/loading.gif');
	width: 32px;
	height: 32px;
	margin: 0 auto;
}

/* Popup */

#popup {
	position: absolute;
	z-index: 150;

	background-color: rgb(230, 230, 230);

	/* Border */

	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
}

#popup-content {
	position: relative;

	top: 10px;
	left: 10px;

	width: 95%;
	height: 95%;

	overflow-y: auto;
}

#popup-overlay {
	z-index: 120;
	display: none;

	position: absolute;

	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	background-color: rgba(125, 125, 125, 0.5);
}

p {
	text-indent: 20px;
}

.about-title {
	font-family: 'Vollkorn';
	font-size: 20px;
	font-weight: 400;

	text-align: center;
}

.about-text {
	font-family: 'Open Sans';
	font-size: 14px;
}

/* Anchor tag link styling */

a {
	font-family: 'Marvel', consolas, monospace, serif;
	font-style: italic;

	color: rgb(75, 75, 175);
	text-decoration: none;
}

a:hover {
	color: rgb(55, 55, 155);
	text-decoration: underline;
}

/* Context menu style */

#ctxmenu-container {
	display: none;

	z-index: 100;
	position: absolute;
	top: 0px;
	left: 0px;
}

#ctxmenu {

	border-color: #000000;
	border-style: solid;
	border-width: 1px;


	width: 180px;

	background-color: rgb(255, 255, 255);
	font-size: 14px;
	font-family: "Open Sans";
}

#ctxmenu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#ctxmenu ul li {
	left: 0px;
	padding-left: 30px;
	padding-top: 2px;

	background: rgb(205,205,205); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

}

#ctxmenu ul li:hover {
	cursor: pointer;

	background: rgb(150,150,150); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

/* Properties styling */

#sidetab-content ul {
	list-style: none;
}

#sidetab-content li {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: rgb(100, 100, 150);
}

#sidetab-content li .propname {
	color: rgb(123, 123, 217);
}

#sidetab-content li .propval {
	font-weight: bold;
}

#sidetab-content p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: rgb(57, 57, 59);
}

#sidetab-content h1 a {
	font-family: 'Tulpen One' !important;
}

#sidetab-content h1 {
	-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;	
}

/* Statusbar */

#statusbar-container {
	position: fixed;
	z-index: 80;
	top: 80px;
	width: 100%;
	height: 48px;
}

#statusbar {

	background: rgba(225, 65, 65, 0.25);
	margin: 0 auto;
	min-width: 325px;
	width: 40%;
	height: 32px;

	border-color: rgb(25, 25, 25);
	border-radius: 3px;
	border: 1px solid;
}

#statusbar:hover {
	background: rgba(225, 65, 65, 0.75);
	cursor: pointer;
}

#statusbar-content {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: rgb(15, 15, 15);
	text-align: center;
	margin: auto;
}